<!doctype html>
<html>
<head>
<title>Flickr Search [ Backbone ]</title>
<link rel="stylesheet" type="text/css" href="../components/css/skeleton.css">
<link rel="stylesheet" type="text/css" href="../components/css/app.css">
</head>
<body>
  <div id="flickrapp"></div>


<script type="text/template" id="photos-template">
	<div class="menu">
		<div class="container">
			<input type="text" id="searchtags" value="green" />
			<button id="searchinit">Go!</button> 
		</div>
	</div>
	<div class="pagebody container">
	<div id="loading">Loading</div>
		<div>
		<ul id="photos" class="photos columns  alpha omega"></ul>
		</div>
	</div>
</script>
	
<script type="text/template" id="thumbnail-template">
	<a href="#photo/<%= id %>">
		<img src="<%= url_sq %>"  title="<%= title %>" />
	</a>	
</script>

<script type="text/template" id="photo-details-template">
<div class="menu">
	<div class="container">
		<button id="photosmall" data-size="small">Small</button>
		<button id="photomedium" data-size="medium">Medium</button>
		<button id="photolarge" data-size="large">Large</button> 
	</div>
</div>
<div class="pagebody container" >
	<div id="photo-container" class="add-bottom"></div>
	<div id="photo-meta"></div>
</div>

</script>
<script type="text/template" id="photo-template">
	<img id="theimage" src="<%= medium.source %>"  />
</script>

<script type="text/template" id="photo-meta-template">

<div>	
		Title: <%= title._content %> <br />
		Taken: <%= dates.taken %><br />
		Owner: <%= owner.username %><br />
		Location:<%= owner.location %><br />
		
</div>
</script>



  <script src="../components/jquery/jquery.js"></script>
  <script src="../components/underscore/underscore.js"></script>
  <script src="../components/backbone/backbone.js"></script>
  <script src="scripts/app.js"></script>

</body>
</html>