
<div class="sixteen columns">
  <div class="columns eight offset-by-four search-col">
    <form ng-submit="search()">
      <input type="text" name="artist-name" id="search" ng-model="search_term"/>
    </form>
  </div>
  <div class="columns ten offset-by-two search-col">
    <p>Type in an a band or select one of these popular artists below.</p><span ng-repeat="artist in top_artists.artist" class="artist-link"> <a href="#/artist/{{artist.name}}">{{artist.name}}</a></span>
  </div>
  <div ng-show="showResults" class="results columns twelve offset-by-two add-bottom">
    <h2>
       
      Top hit: <a href="#/artist/{{artist_search_result.artistmatches.artist[0].name}}">
         
        {{artist_search_result.artistmatches.artist[0].name}}</a>
    </h2>
    <div class="main-card clearfix add-bottom">
      <div class="columns img center"><img ng-src="{{artist_search_result.artistmatches.artist[0].image[4]['#text']}}"/></div>
      <div class="top-albums columns add-bottom">
        <h2>Top Albums</h2>
        <div ng-repeat="album in top_albums_result.album" class="album-card columns three alpha omega center">
          <div class="img-shell"><img ng-src="{{album.image[2]['#text']}}"/></div><a href="#/album/{{artist_search_result.artistmatches.artist[0].name}}/{{album.name}}">{{album.name}}</a>
        </div>
      </div>
    </div>
    <row class="artist-results add-top">
      <h3>Other results</h3>
      <div ng-repeat="artist in artist_search_result.artistmatches.artist" ng-show="!$first" class="artist-card columns three alpha omega center">
        <div class="img-shell">	<img ng-src="{{artist.image[2]['#text']}}"/></div><a href="#/artist/{{artist.name}}" class="name">{{artist.name}}</a>
      </div>
    </row>
  </div>
</div>